h1, h2{
    text-align: center;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #ffcba4;
}
.square {
    float: left;
    height: 50px;
    width: 50px;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #ffff00;
}

.dot {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #000000;
    /* background-color: red; */
}

.dot.player1 {
    background-color: red;
}

.dot.player2 {
    background-color: blue;
}

.dot.noplayer {
    background-color: black;
}

.red{
    color:red;
}

.blue{
    color:blue;
}

.instructions{
    width: 50%;
    margin: 0 auto;
}

.column{
    height: 100%;
    width: 50px;
    margin: 4px;
}

#grid{
    width: 434px;
    margin: 0 auto;
}



